@import url('https://fonts.googleapis.com/css?family=Raleway')

$color-pack := false
$body-font-family = 'Raleway', sans-serif
$spacer := 10px

/** Buttons */

// Base
$button-border-radius := 0
$button-font-size := 16px
$button-text-transform := capitalize

$card-border-radius := 0
$sheet-border-radius := 0
$tab-text-transform := capitalize

// Inputs
$input-top-spacing := 10px
$text-field-active-label-height := 14px
@import '~vuetify/src/stylus/main'
