@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import '~vuetify/src/styles/styles.sass';

$material-dark: (
        'app-bar': transparent,
        'bottom-navigation': #424242,
        'background': #1D1D1D,
        'cards': #1D1D1D,
        'navigation-drawer': #1D1D1D,
        'toolbar': #1D1D1D
);

$font-size-root: 16px;
$body-font-family: 'Raleway', sans-serif;
$card-border-radius: 0;
$chip-label-border-radius: 0;

// For updating SASS lists
$ripple-animation-transition-in: none;
$ripple-animation-transition-out: none;
$ripple-animation-visible-opacity: none;
